<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kueen.cellsystem.dao.CellMapper">
    <resultMap id="allMap" type="com.kueen.cellsystem.entity.CellDetail">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="label" property="label" />
        <result column="color" property="color" />
        <result column="threshold_down" property="thresholdDown" />
        <result column="threshold_up" property="thresholdUp" />
        <result column="category" property="category" />
    </resultMap>

    <select id="getAll" resultMap="allMap">
        SELECT
            *
        FROM
            cell
        ORDER BY
            category
    </select>

</mapper>