<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kueen.cellsystem.dao.DescriptionMapper">

    <select id="getAll" resultType="com.kueen.cellsystem.entity.DescriptionDetail">
        SELECT
            *
        FROM
            description
    </select>

    <update id="modify" parameterType="com.kueen.cellsystem.entity.DescriptionDetail"> 
        UPDATE
            description
        SET
            content = #{content}
        WHERE
            id = #{id}
    </update>

    <insert id="add" parameterType="com.kueen.cellsystem.entity.DescriptionDetail">
        INSERT INTO
            description (contnet)
        VALUES
            (#{contnet})
    </insert>

    <delete id="delete">
        DELETE FROM
            description
        WHERE
            id = #{id}
    </delete>

</mapper>